{% extends 'base.html' %}
{% load static %}
  <!-- partial -->
{% block body %}
    <div class="col-12">


        <section class="row">
            <div class="hero-section">
                <div>
                    <img src="{% static 'images/bg.png' %}">
                </div>

                <div class="hero-content">

                    <h1> Plan your dream trips with us </h1>
                    <p>
                        Personalised, well-crafted tour packages <br>
                        for best experiences
                    </p>
                    <div style="padding-top: 1%;">
                        <a href="#" class="arrow-icon"> <i class="fa fa-arrow-right"></i></a>
                        <!-- <a href="#" class="btn-content"> Book a trip now </a> -->
                        <!-- <div style="padding-top: 2%;"> -->
                            <!-- Button trigger modal -->
                           <a class="btn-content" data-bs-toggle="modal" data-bs-target="#popup">Book a trip now</a>
                             
                           <!-- Modal -->
                           <div id="popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
                           <div class="modal-dialog" style="margin-right: 40%;">
                             <div class="modal-content">
                             <div class="modal-body">
                               <h2 style="font-size: 2rem; font-weight: bold;">Request a <span style="color: #FF543E; font-size: 2rem; font-weight: bold;">Quote</span></h2>
                               <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                               <div class="container right-panel-active" id="container">
                                 <div class="form-container sign-up-container ">
                                   <form action="mailto:dakshchavan10@gmail.com"  method="post" >
                                       {% csrf_token %}
                                     <!-- <div style="display: flex; flex-direction: row;"> -->
                                       <input name="name"  type="text" placeholder="Your Name" required>
                                       <!-- <input name="country" style="width: 50%;" type="text" placeholder="Select Country" /> -->
                                     <!-- </div> -->
                                     <input name="email" type="email" placeholder="Email" required/>
                                     <textarea name="description" id="desc" cols="10" rows="2" placeholder="Tour Description"></textarea>
                                     <div style="display: flex; flex-direction: row;">
                                       <input style="width: 50%; margin-right: 3%;" name="date" type="date" placeholder="Travel Dates"  required/>
                                       <input style="width: 50%;" name="duration" type="text" placeholder="Duration of Dates" required/>
                                     </div>
                                     <div style="display: flex; flex-direction: row;">
                                       <input name="persons" style="width: 50%; margin-right: 3%;" type="text" placeholder="No.of Person" required/>
                                       <input name="number" style="width: 50%;" type="text" placeholder="Contact No." required/>
                                     </div>
                                     <button onClick="window.location.href='{% url 'thankyou' %}';" type="submit" formaction="{% url 'passengerdetail' %}"  style="margin-top: 3%;">Submit</button>
                                   </form>
                                 </div>
                                 <div class="overlay-container">
                                   <div class="overlay">
                                     <div class="overlay-panel overlay-left">
                                       <h1>How it Works?</h1>
                                       <div style="padding-top: 10%;">
                                         <img style="width: 18%; position: relative;" src="{% static 'images/icon _plan_.svg' %}" alt="">
                                         <p>Plan Your Holiday Details</p>
                                         <img style="width: 18%; position: relative;" src="{% static 'images/icon _customize_.svg' %}" alt="">
                                         <p>Get your customised holiday package based on your requirements within 24 Hr</p>
                                         <img style="width: 18%; position: relative;" src="{% static 'images/illustration _backpack blue rucksack travel canvas_.svg' %}" alt="">
                                         <p>Get the deal and start packing the bags!!</p>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                           </div>
                             </div>
                             </div>
                           </div>
                           </div>
                         <!-- </div> -->
                    </div>
                </div>

            </div>
        </section>



        <section class="row">
            <h1 class="heading_about-india"> <span style="color: #FF543E;"> Know About </span> <span
                    style="color: #077EA3"> the </span> <span style="color: #00550E;"> the Incredible India </span>
            </h1>
            <div class="about-india">
                <div> <img src="{% static 'images/Holi Picture.svg' %}"></div>
                <div class="about-india_content"> One of the oldest civilisations in the world, India is a mosaic of
                    multicultural experiences. With
                    a rich heritage and myriad attractions, the country is among the most popular tourist destinations
                    in the world. <br>
                    It covers an area of 32, 87,263 sq. km, extending from the snow-covered Himalayan heights to the
                    tropical rain forests of the south. As the 7th largest country in the world, India stands apart from
                    the rest of Asia, marked off as it is by mountains and the sea, which give the country... <br>
                    <br>

                    <a href="#"> Know more →
                    </a>
                </div>
                <div> <img src="{% static 'images/Dancing Picture.svg' %}"></div>
            </div>
        </section>
        </div>

        <div class="container-fluid" style="padding-bottom: 1%; padding-top:3%; background: #005555;" >

            <h3 style="margin-left:3% ;font-family: SFProDisplay-Bold; font-weight: bold; text-align: center;color: white;">Places For You to Visit</h3>
        </div>
        
    
        <section class="packages slider container-fluid" style="padding-top:2% ; padding-bottom: 2%; background: #005555;">
          {% for i in packages %}
          <a href="{% url 'package_info' i=i.id%}" class="news__item">
          <div class=" slide"><img style="width:300px ;height:160px" src="/media/{{i.image}}"><br>
              <div class="inside-slider">
              <h3 style="color:#ffc40b;"><b>{{i.package_name}}</b></h3>
              <p style="text-align: center;">{{i.description}}</p>
              </div>
          </div>
          </a>
          
          {% endfor %}
      </section>
        
        <section class="why-us">
            <div class="heading_why-us">
                Why Choose Us? 
            </div>

            <div class="pointers">
                <div>
                    <img src="{% static 'images/1.svg' %}">
                    <p>
                        Creating greatest travel experiences for the consumers, our passionate travel staff persistently works around-the-clock. 
                    </p>
                </div>
                <div>
                    <img src="{% static 'images/2.svg' %}">
                    <p>
                        Customer satisfaction has always been our first concern as a customer-driven travel agency. 
                    </p>
                </div>
                <div>
                    <img src="{% static 'images/3.svg' %}">
                    <p>
                        Customer satisfaction has always been our first concern as a customer-driven travel agency. 
                    </p>
                </div>
            </div>
        </section>
    </div>

    {% endblock body %}